.App {
  text-align: center;
}
   
.App-header {
  background-color: hsl(225, 62%, 49%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(0, 0%, 100%);
}
  
.recipe-name {
  cursor: pointer;
}
   
.recipe-name:hover {
  color: hsl(240, 1%, 57%); 
}   

.addRecipe {
  color: hsl(0, 0%, 100%);
  border: 2px solid ;
  border-radius: 5px;
  border-color: hsl(0, 0%, 6%);
  padding: 0.5em 2em;
  background-color: hsl(0, 0%, 0%);
}
   
.addRecipe:hover {
  background-color: hsl(0, 84%, 40%);
}
   
.addRecipe:active {
  background-color: hsl(0, 84%, 30%);
}